# Make Bazel print out all options from rc files.
build --announce_rc

# bazel module
common --enable_bzlmod=true
common --registry=https://bcr.bazel.build

build --@rules_cuda//cuda:archs=sm_75,sm_86,sm_89;
build --@rules_cuda//cuda:compiler=nvcc
build --@rules_cuda//cuda:runtime=@local_cuda//:cuda_runtime_static

build --cxxopt="-std=c++17"
